@font-face {
  font-family: 'icomoon-more';
  src:  url('../fontsMore/icomoon.eot?b9mqia');
  src:  url('../fontsMore/icomoon.eot?b9mqia#iefix') format('embedded-opentype'),
    url('../fontsMore/icomoon.ttf?b9mqia') format('truetype'),
    url('../fontsMore/icomoon.woff?b9mqia') format('woff'),
    url('../fontsMore/icomoon.svg?b9mqia#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="more-icon-"], [class*=" more-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-more' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.more-icon-mune:before {
  content: "\e904";
}
.more-icon-s-12:before {
  content: "\e986";
}
.more-icon-s-6:before {
  content: "\e984";
}
.more-icon-s-13:before {
  content: "\e985";
}
.more-icon-h-space1:before {
  content: "\e991";
}
.more-icon-h-exit1:before {
  content: "\e990";
}
.more-icon-h-arrow-n1:before {
  content: "\e98f";
}
.more-icon-h-10 .path1:before {
  content: "\e97a";
  color: rgb(23, 23, 25);
  opacity: 0.5;
}
.more-icon-h-10 .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-3 .path1:before {
  content: "\e977";
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-3 .path2:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-3 .path3:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-8 .path1:before {
  content: "\e975";
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-8 .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-h-24 .path1:before {
  content: "\e972";
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-24 .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-24 .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-14:before {
  content: "\e971";
}
.more-icon-h-23 .path1:before {
  content: "\e96d";
  color: rgb(23, 23, 25);
  opacity: 0.5;
}
.more-icon-h-23 .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.7;
}
.more-icon-h-23 .path3:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-h-23 .path4:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-p-source .path1:before {
  content: "\e96a";
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-p-source .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-p-source .path3:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-15 .path1:before {
  content: "\e968";
  color: rgb(23, 23, 25);
  opacity: 0.45;
}
.more-icon-h-15 .path2:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-2 .path1:before {
  content: "\e966";
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-2 .path2:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.5;
}
.more-icon-h-13 .path1:before {
  content: "\e961";
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-13 .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-13 .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-13 .path4:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-13 .path5:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.5;
}
.more-icon-h-17 .path1:before {
  content: "\e95e";
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-17 .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-17 .path3:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-7 .path1:before {
  content: "\e95c";
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-7 .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-25 .path1:before {
  content: "\e958";
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-25 .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-h-25 .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-25 .path4:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-5 .path1:before {
  content: "\e953";
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-5 .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-5 .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.5;
}
.more-icon-h-5 .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-5 .path5:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-22 .path1:before {
  content: "\e951";
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-22 .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.2;
}
.more-icon-h-19 .path1:before {
  content: "\e949";
  color: rgb(23, 23, 25);
  opacity: 0.7009;
}
.more-icon-h-19 .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4004;
}
.more-icon-h-19 .path3:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-19 .path4:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-19 .path5:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.55;
}
.more-icon-h-19 .path6:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.55;
}
.more-icon-h-19 .path7:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.55;
}
.more-icon-h-19 .path8:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.55;
}
.more-icon-h-9 .path1:before {
  content: "\e946";
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-9 .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-9 .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-11 .path1:before {
  content: "\e940";
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-11 .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-11 .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-11 .path4:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-11 .path5:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-11 .path6:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.2;
}
.more-icon-h-18 .path1:before {
  content: "\e939";
  color: rgb(23, 23, 25);
}
.more-icon-h-18 .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-h-18 .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-h-18 .path4:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.75;
}
.more-icon-h-18 .path5:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.55;
}
.more-icon-h-18 .path6:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-18 .path7:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.5;
}
.more-icon-h-12 .path1:before {
  content: "\e932";
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-12 .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-12 .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-12 .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-12 .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4956;
}
.more-icon-h-12 .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-12 .path7:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-21 .path1:before {
  content: "\e92d";
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-21 .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-21 .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-21 .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.8008;
}
.more-icon-h-21 .path5:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.6;
}
.more-icon-h-6 .path1:before {
  content: "\e929";
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-h-6 .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-6 .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-6 .path4:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-p-hp-set .path1:before {
  content: "\e927";
  color: rgb(23, 23, 25);
  opacity: 0.8;
}
.more-icon-p-hp-set .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-1 .path1:before {
  content: "\e922";
  color: rgb(23, 23, 25);
  opacity: 0.65;
}
.more-icon-h-1 .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-1 .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-1 .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-1 .path5:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-h-4 .path1:before {
  content: "\e920";
  color: rgb(23, 23, 25);
  opacity: 0.9;
}
.more-icon-h-4 .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.4;
}
.more-icon-h-4 .path3:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(23, 23, 25);
  opacity: 0.3;
}
.more-icon-s-10:before {
  content: "\e91f";
}
.more-icon-s-3:before {
  content: "\e91e";
}
.more-icon-s-24:before {
  content: "\e91d";
}
.more-icon-s-14:before {
  content: "\e91c";
}
.more-icon-s-23:before {
  content: "\e91b";
}
.more-icon-s-20:before {
  content: "\e91a";
}
.more-icon-s-15:before {
  content: "\e919";
}
.more-icon-s-2:before {
  content: "\e918";
}
.more-icon-s-4:before {
  content: "\e917";
}
.more-icon-s-17:before {
  content: "\e914";
}
.more-icon-s-7:before {
  content: "\e913";
}
.more-icon-s-25:before {
  content: "\e912";
}
.more-icon-s-5:before {
  content: "\e911";
}
.more-icon-s-22:before {
  content: "\e910";
}
.more-icon-s-19:before {
  content: "\e90f";
}
.more-icon-s-9:before {
  content: "\e90e";
}
.more-icon-s-11:before {
  content: "\e90d";
}
.more-icon-s-18:before {
  content: "\e90c";
}
.more-icon-s-121 .path1:before {
  content: "\e906";
}
.more-icon-s-121 .path2:before {
  content: "\e907";
  margin-left: -1em;
}
.more-icon-s-121 .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.more-icon-s-121 .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-s-121 .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-s-121 .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-s-121 .path7:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(23, 23, 25);
}
.more-icon-s-21:before {
  content: "\e905";
}
.more-icon-s-16:before {
  content: "\e902";
}
.more-icon-s-8:before {
  content: "\e901";
}
.more-icon-s-1:before {
  content: "\e900";
}
.more-icon-h-unit1:before {
  content: "\e980";
}
.more-icon-h-16:before {
  content: "\e97f";
}
.more-icon-h-exit:before {
  content: "\e97e";
}
.more-icon-h-arrow-n:before {
  content: "\e97d";
}
.more-icon-h-arrow-l:before {
  content: "\e97c";
}
.more-icon-h-note:before {
  content: "\e98c";
}
.more-icon-h-home:before {
  content: "\e98b";
}
.more-icon-h-course:before {
  content: "\e915";
}
.more-icon-h-app:before {
  content: "\e903";
}
.more-icon-h-sort:before {
  content: "\e983";
}
.more-icon-h-edit:before {
  content: "\e982";
}
.more-icon-h-delete:before {
  content: "\e981";
}
.menu-slide{
    visibility: hidden;
}